<h2 mat-dialog-title class="dialog-title">
  Register
  <button mat-icon-button class="close-button" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<p class="text dialog-subtitle">Already have an account? <a (click)="openLoginDialog()" class="text-thm">Log In!</a></p>
<div mat-dialog-content>
  <form [formGroup]="registerForm">
    <div class="mb25">
      <label class="form-label fw500 dark-color">Display Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="ali">
    </div>
    <div class="mb25">
      <label class="form-label fw500 dark-color">Username</label>
      <input type="text" class="form-control" formControlName="userName" placeholder="alitf">
    </div>
    <div class="mb25">
      <label class="form-label fw500 dark-color">Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="alitfn58@gmail.com">
    </div>
    <div class="mb15">
      <label class="form-label fw500 dark-color">Password</label>
      <input type="{{ type }}" class="form-control" formControlName="password" placeholder="*******">
      <i class="far" [ngClass]="eyeIcon" (click)="hideShowPass()"></i>
    </div>
    <div class="mb15">
      <label class="form-label fw500 dark-color">Account Type</label>
      <div class="checkbox-style1 mb20">
        <label class="custom_checkbox fz14 ff-heading">
          <input type="checkbox" class="account-checkbox" formControlName="isUser"> User
          <span class="checkmark"></span>
        </label>
        <label class="custom_checkbox fz14 ff-heading">
          <input type="checkbox" class="account-checkbox" formControlName="isProvider"> Service Provider
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="d-grid mb20">
      <button class="ud-btn btn-thm default-box-shadow2" type="submit" (click)="onSignup()">Create Account <i class="fal fa-arrow-right-long"></i></button>
    </div>
    <div class="hr_content mb20">
      <hr>
      <span class="hr_top_text">OR</span>
    </div>
    <div class="d-md-flex justify-content-between">
      <button class="ud-btn btn-fb fz14 fw400 mb-2 mb-md-0" type="button"><i class="fab fa-facebook-f pr10"></i> Continue Facebook</button>
      <button class="ud-btn btn-google fz14 fw400 mb-2 mb-md-0" type="button"><i class="fab fa-google"></i> Continue Google</button>
      <button class="ud-btn btn-apple fz14 fw400" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
