.login-info {
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .add-joining {
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .dialog-subtitle {
    a {
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  