<app-dash-header></app-dash-header>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="order_complete_message text-center">
          <div class="icon bgc-thm4"><span class="fa fa-check text-thm"></span></div>
          <h2 class="title">Your Order Is Completed!</h2>
          <p class="text">Thank you. Your order has been received.</p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="shop_order_box mt60">
          <div class="order_list_raw">
            <ul class="d-md-flex align-items-center justify-content-md-between p-0 mb-0">
              <li class="mb20-sm">
                <p class="text mb5">Order Number</p>
                <h6 class="mb-0">{{ orderDetails?.orderId }}</h6>
              </li>
              <li class="mb20-sm">
                <p class="text mb5">Date</p>
                <h6 class="mb-0">{{ orderDetails?.date | date }}</h6>
              </li>
              <li class="mb20-sm">
                <p class="text mb5">Total</p>
                 <h6 class="mb-0">${{ orderDetails?.totalPrice }}</h6>
              </li>
              <li>
                <p class="text mb5">Payment Method</p>
                <h6 class="mb-0">{{ orderDetails?.paymentType }}</h6>
              </li>
            </ul>
          </div>
          <div class="order_details default-box-shadow1">
            <h4 class="title mb25">Order details</h4>
            <div class="od_content">
              <ul class="p-0 mb-0">
                <li class="bdrb1 mb20"><h6>Product <span class="float-end">Subtotal</span></h6></li>
                <li class="mb20"><p class="body-color">{{ orderDetails?.serviceName }} <span class="float-end">${{ orderDetails?.totalPrice }}</span></p></li>
                <li class=" bdrb1 mb15"><h6>Total <span class="float-end">${{ orderDetails?.totalPrice }}</span></h6></li> 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<app-footer></app-footer>
